// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Verdana, Geneva, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  :visited {
    color: #828282;
  }
}

.top {
  background-color: #ff6600;
  font-size: 10pt;
  .title {
    display: inline-block;
  }
  .category {
    display: inline-block;
  }
  .login {
    display: inline-block;
    float: right;
  }
}

.main {
  background-color: rgb(246, 246, 239);
}

.footer {
  background-color: rgb(246, 246, 239);
  a {
    font-size: 8pt;
  }
}
